.darkBack{
    background-color: rgb(37, 36, 36);
    color: rgb(141, 138, 138);
    border-radius: 4px;
}
hr{
    border-color: rgba(110, 101, 101, 0.733);
    border-width: 2px;
}

.breakTitle{
    text-align: left;
    border-bottom: black solid 2px;

}

.imgBorder{
    background-color: rgb(68, 65, 65);
    border-color: rgb(41, 39, 39);
}
.center{
    text-align: center;
}

.lrgtxt{
    font-size: 2rem;
}

.portfolio{
	background-color: rgba(255, 255, 255, 0.829);
}

.header{
    font-weight: bold;
    text-underline-position: below;
}

.navy{
	background-color: rgba(0, 0, 0, 0.671)
}