.darkBack{
    background-color: rgb(37, 36, 36);
    color: rgb(141, 138, 138);
}

img{
    width: auto;
    height: auto;
}

.center{
    text-align: center;
}

.portfolio{
	background-color: rgba(255, 255, 255, 0.829);
}

.header{
    font-weight: bold;
    text-underline-position: below;
}

.navy{
	background-color: rgba(0, 0, 0, 0.671)
}